/**
 * Set Breakpoints
 */
$layout-max-width: 1200px;
$layout-max-columns: 12;
$layout-gutter-width: percentage(20px/$layout-max-width);
$layout-spacing: 10px;
$layout-breakpoints: (
  'small' 480px,
  'medium' 600px,
  'large' 920px,
  'xlarge' $layout-max-width
);
