.m-asset {
  vertical-align: top;

  .m-asset__object {
    display: inline-block;
    float: left;
    margin: .1em 1em 1em 0;
  }

  > div {
    overflow: hidden;
  }
}

.m-asset--right {
  .m-asset__object {
    float: right;
    margin: .1em 0 1em 1em;
  }
}
