// IE fix, because the stupid browser
// dont't want to read meta tags.
@-ms-viewport {
  width: device-width;
}

@mixin col($col, $max-cols: 12) {
  width: (100%/$max-cols)*$col;
}

@mixin col-push($col, $max-cols: 12) {
  margin-left: (100% / $max-cols) * $col;
}

@mixin col-pull($col, $max-cols: 12) {
  margin-right: (100% / $max-cols) * $col;
}

@mixin respond($breakpoint, $type: 'from') {
  @if $type == 'from' {
    @media screen and (min-width: map-get($layout-breakpoints, $breakpoint)) {
      @content;
    }
  } @else if $type == 'to' {
    @media screen and (max-width: map-get($layout-breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// This is for compatibility reasons
@mixin respond_to($breakpoint) {
  @include respond($breakpoint);
}

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
