// IE fix, because the stupid browser
// dont't want to read meta tags.
@-ms-viewport {
  width: device-width;
}

@mixin col($col, $max-cols: 12) {
  width: (100%/$max-cols)*$col;
}

@mixin col-push($col, $max-cols: 12) {
  margin-left: (100% / $max-cols) * $col;
}

@mixin col-pull($col, $max-cols: 12) {
  margin-right: (100% / $max-cols) * $col;
}

@mixin respond($breakpoint, $type: 'from') {
  @if $type == 'from' {
    @media screen and (min-width: map-get($layout-breakpoints, $breakpoint)) {
      @content;
    }
  } @else if $type == 'to' {
    @media screen and (max-width: map-get($layout-breakpoints, $breakpoint)) {
      @content;
    }
  }
}

/**
 * Better font-rendering on OSX
 * Based on a article Maximilian Hoffmann, this mixin let you turn on
 * a smooth font-rendering. This particular make sense on dark backgrounds.
 *
 * @usage @include font-smoothing(on);
 *
 * @example http://codepen.io/macx/full/qmkje
 * @since 0.2.7
 */
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
